<%= form_for :session, url: login_path do |f| %>
  <div class="form-row">
  <%= f.email_field :email, :placeholder => "E-mail" %>
  </div>
  <div class="form-row">
  <%= f.password_field :password, :placeholder => "Password" %>
  </div>
  <div class="form-row">
  <%= f.submit "Log in!", class: "btn" %>
  </div>
<% end %>
