/* line 4, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

/* line 9, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
#menus-switch {
  display: inline-block;
  background: red;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

/* line 16, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
#menus-exit {
  display: inline-block;
  background: blue;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

/* line 23, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
#menus {
  top: 0;
  transition: .2s ease-out;
  opacity: 0;
  z-index: -1;
  background: red;
  width: 100%;
  position: fixed;
}

/* line 32, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
.section {
  text-align: center;
  padding: 5px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

/* line 39, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
.flash {
  padding: 5px;
  margin-bottom: 5px;
  width: 100%;
  margin-left: -5px;
}

/* line 45, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
.success {
  border-top: 1px solid lightgreen;
  background: rgba(144, 238, 144, 0.5);
}

/* line 49, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
.danger {
  border-top: 1px solid lightcoral;
  background: rgba(240, 128, 128, 0.5);
}

/* line 53, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

@media only screen and (max-width: 1024px) {
  /* line 59, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
  .section {
    width: calc(100% - 20px);
  }
}
/* line 4, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/tracker.scss */
.tracker_title {
  border-bottom: 1px solid;
  display: block;
  padding: 5px;
  margin-bottom: 5px;
}

/* line 10, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/tracker.scss */
.tracker_title a, .tracker_title span {
  text-decoration: none;
  font-weight: bold;
  line-height: 20px;
  font-size: 20px;
}

/* line 16, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/tracker.scss */
.tracker {
  border: 1px solid;
  margin: 5px 0px;
  padding: 10px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
/* line 4, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/users.scss */
.avatar {
  width: 100px;
  height: 100px;
  background: lightgray;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

/* line 13, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/users.scss */
.avatar img {
  width: 100%;
}

/* line 17, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/users.scss */
.small {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

