/* line 13, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: gray;
}

/* line 19, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
input#user_avatar {
  height: 33px;
}

/* line 22, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
#menus-switch {
  display: inline-block;
  background: lightgray;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

/* line 29, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
#menus-switch div {
  width: 100% !important;
  height: 100% !important;
  mask: url("baseline-expand_more-24px.svg");
  -webkit-mask: url("baseline-expand_more-24px.svg");
  mask-size: cover;
  -webkit-mask: cover;
  background: linear-gradient(to right, green, lightcoral);
}

/* line 34, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
#menus-exit {
  display: inline-block;
  background: lightgray;
  width: 50px;
  height: 50px !important;
  border-radius: 25px !important;
}

/* line 41, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
#menus-exit div {
  width: 100% !important;
  height: 100% !important;
  mask: url("baseline-expand_less-24px.svg");
  -webkit-mask: url("baseline-expand_less-24px.svg");
  mask-size: cover;
  -webkit-mask: cover;
  background: linear-gradient(to right, red, purple);
}

/* line 45, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
#menus {
  top: -100%;
  transition: .2s ease-out;
  z-index: -1;
  background: rgba(200, 200, 255, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
}

/* line 54, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
#menus div {
  margin-bottom: 10px;
  border-radius: 10px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
}

/* line 61, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
#menus div a {
  text-decoration: none;
}

/* line 64, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
.section {
  text-align: center;
  padding: 5px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

/* line 71, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
.flash {
  padding: 5px;
  margin-bottom: 5px;
  width: 100%;
  margin-left: -5px;
}

/* line 77, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
.success {
  border-top: 1px solid lightgreen;
  background: rgba(144, 238, 144, 0.5);
}

/* line 81, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
.danger {
  border-top: 1px solid lightcoral;
  background: rgba(240, 128, 128, 0.5);
}

/* line 85, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

/* line 90, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
.form-row {
  margin-bottom: 10px;
}

/* line 93, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
.yes {
  width: 100% !important;
  height: 100% !important;
  mask: url("baseline-check-24px.svg");
  -webkit-mask: url("baseline-check-24px.svg");
  mask-size: cover;
  -webkit-mask: cover;
  background-color: lightgreen;
}

/* line 97, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
.no {
  width: 100% !important;
  height: 100% !important;
  mask: url("baseline-close-24px.svg");
  -webkit-mask: url("baseline-close-24px.svg");
  mask-size: cover;
  -webkit-mask: cover;
  background-color: lightcoral;
}

@media only screen and (max-width: 1024px) {
  /* line 102, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/page.scss */
  .section {
    width: calc(100% - 20px);
  }
}
/* line 4, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/tracker.scss */
input, select, .form_field {
  height: 30px;
  width: 300px;
  border: 0;
  border-radius: 15px;
  padding: 5px 15px;
  background: lightgray;
  color: black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
}

/* line 17, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/tracker.scss */
.check {
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: 10px;
}

/* line 23, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/tracker.scss */
.tracker_title {
  border-bottom: 1px solid;
  display: block;
  padding: 5px;
  margin-bottom: 5px;
}

/* line 29, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/tracker.scss */
.tracker_title a, .tracker_title span {
  text-decoration: none;
  font-weight: bold;
  line-height: 20px;
  font-size: 20px;
}

/* line 35, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/tracker.scss */
.tracker {
  border: 1px solid;
  margin: 5px 0px;
  padding: 0px 10px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

/* line 43, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/tracker.scss */
.simple-box {
  width: 70px;
  height: 70px;
  background: lightgray;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 12px;
}
/* line 4, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/users.scss */
.avatar {
  width: 100px;
  height: 100px;
  background: lightgray;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

/* line 13, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/users.scss */
.avatar img {
  width: 100%;
}

/* line 17, /home/marcin/Projects/ror/thing-tracker/app/assets/stylesheets/users.scss */
.small {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

