<%= form_for  :user, url: user_path, method: :patch do |f| %>
  <% if params[:avatar] %>
    <div class="form-row">
      <%= f.file_field :avatar %>
    </div>
  <% end %>
  <% if params[:name] %>
    <div class="form-row">
      <%= f.text_field :name, :placeholder => "New name" %>
    </div>
  <% end %>
  <div class="form-row">
    <%= f.password_field :password, :placeholder => "Password" %>
  </div>
  <div class="form-row">
    <%= f.submit "Save", class: "btn" %>
  </div>
<% end %>
