<%= form_for @user do |f| %>
  <div class="form-row">
    <%= f.text_field :name, :placeholder => "Name" %>
  </div>
  <div class="form-row">
    <%= f.email_field :email, :placeholder => "E-mail" %>
  </div>
  <div class="form-row">
    <%= f.password_field :password, :placeholder => "Password" %>
  </div>
  <div class="form-row">
    <%= f.password_field :password_confirmation, :placeholder => "Confirm password" %>
  </div>
  <div class="form-row">
    <%= f.submit "Create account!", class: "btn" %>
  </div>
<% end %>
