<a class="avatar" <% if logged? && current_user == @user %>href="<%= edit_user_path(:avatar => 1) %>"<% end %>>
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar %>
  <% end %>
</a>
<div>
  <a <% if logged? && current_user == @user %>href="<%= edit_user_path(:name => 1) %>"<% end %>><h1><%= @user.name %></h1></a>
</div>
<% if logged? && current_user == @user %>
  <%= render partial: "trackers/new" %>
<% end %>
<% @user.trackers.each do |t| %>
  <%= render partial: "trackers/tracker", locals: {t: t} %>
<% end %>
