<h1>About this site</h1>
<p>This site was created as a learning project by Marcin Stefaniak.</p>
<p>Built on Ruby(v.2.6.0) on Rails(v.5.2.2)</p>
<p>Source: <a href="https://gitlab.com/mrcinstefaniak/thing-tracker">https://gitlab.com/mrcinstefaniak/thing-tracker</a></p>
<p>Live sample: <a href="https://dashboard.heroku.com/apps/whispering-reef-13800">https://dashboard.heroku.com/apps/whispering-reef-13800</a></p>
<h2>Contact information</h2>
<p>E-mail: <a href="mailto:mrcinstefaniak@gmail.com">mrcinstefaniak@gmail.com</a></p>
<p>Gitlab: <a href="https://gitlab.com/mrcinstefaniak">https://gitlab.com/mrcinstefaniak</a></p>
