<h1>Help</h1>
<p>You can create account <%= link_to "here", new_user_path %>.</p>
<p>Then on you <%= link_to "account page", current_user %> or <%= link_to "home page", root_path %> you can create your new Tracker.</p>
<p>When you do this, click on the new Tracker's name and start posting your numbers!</p>
