<% if logged? %>
  <%= render partial: "trackers/new" %>
  <% current_user.trackers.each do |t| %>
      <% unless t.name.nil? %>
        <%= render partial: "trackers/tracker", locals: {t: t} %>
      <% end %>
  <% end %>
<% else %>
  <h1>Welcome to ThingTracker!</h1>
  <p>Would you like to note your numbers and display in graphs like that one?:</p>
  <%= render partial: "trackers/tracker", locals: {t: Tracker.find(1)} %>
  <p>With this app you can! Just create your account <%= link_to "here", new_user_path %>, and start tracking your things.</p>
  <p>If you require further help, please check this <%= link_to "link", 'page/help' %>.</p>
  <p>You can find all information to contact me <%= link_to "here", 'page/about' %>.</p>
<% end %>
