<div class="tracker" style="border-color: lightgreen; padding: 10px;">
  <h1>New tracker</h1>
  <%= form_for @tracker_new do |f| %>
    <div class="form-row">
      <%= f.text_field :name, :placeholder => "Name" %>
    </div>
    <div class="form-row">
      <label class="form_field">
        Simple?
        <%= f.check_box :simple, class: "check" %>
      </label>
    </div>
    <div class="form-row">
      <%= select_tag "tracker[chart_type]", options_for_select([['Line', 1], ['Column', 2], ['Bar', 3], ['Area', 4]], 1) %>
    </div>
    <div class="form-row">
      <%= f.color_field :color, class: "btn" %>
    </div>
    <div>
      <%= f.submit "Create!", class: "btn" %>
    </div>
  <% end %>
</div>
