<div class="tracker" style="border-color: <%= t.color %>">
  <% u = User.find(t.user_id) %>
  <div class="tracker_title" style="border-color: <%= t.color %>">
    <% if logged? && current_user = t.user %>
      <div class="options">
        <%= link_to "delete", "/trackers/#{t.id}", method: :delete %>
      </div>
    <% end %>
    <a href="/trackers/<%= t.id %>">
    <%= t.name %>
    <div class="avatar small">
      <% if u.avatar.attached? %>
        <%= image_tag u.avatar %>
      <% end %>
    </div>
    <%= u.name %>
    </a>
  </div>
  <% if t.simple == 1 %>
    <% p = t.points.group_by_week(:created_at, last: 6).count %>
  <% else %>
    <% p = t.points.group(:created_at).sum(:value) %>
    <% if t.points.any? %>
      <% min = t.points.order(:value).limit(1).first.value*0.995 %>
      <% max = t.points.order(value: :desc).limit(1).first.value*1.005 %>
    <% end %>
  <% end %>
  <% if t.chart_type == 1 %>
    <%= line_chart p, colors: [t.color], min: min, max: max %>
  <% elsif t.chart_type == 2 %>
    <%= column_chart p, colors: [t.color], min: min, max: max %>
  <% elsif t.chart_type == 3 %>
    <%= bar_chart p, colors: [t.color] %>
  <% elsif t.chart_type == 4 %>
    <%= area_chart p, colors: [t.color], min: min, max: max %>
  <% end %>
</div>
