<%= render partial: "tracker", locals: {t: @tracker} %>
<% if logged? && current_user.id = @tracker.user_id %>
  <div class="tracker" style="border-color: <%= @tracker.color %>; padding: 10px">
    <div class="wrapper">
      <%= form_for :t, url: tracker_path, method: :patch do |f| %>
        <% if @tracker.simple == 0 %>
          <% p = @tracker.points.all %>
          <%= f.date_field :date, value: Date.current %>
          <%= f.number_field :points, step: 0.001, :placeholder => "Value" %>
          <%= f.submit "Save!", class: "btn" %>
        <% else %>
          <% 42.times do |p| %>
            <label class="simple-box">
              <div style="position: absolute"><%= Date.current - p %></div>
              <input type="radio" name="date" value="<%= Date.current - p %>" onclick="$('form').submit();" style="display: none">
              <% if @tracker.points.find_by(created_at: Date.current - p) %>
                <div class="yes"></div>
              <% else %>
                <div class="no"></div>
              <% end %>
            </label>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
