// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin svgmask($url){
  width: 100% !important;
  height: 100% !important;
  mask: url($url);
  -webkit-mask: url($url);
  mask-size: cover;
  -webkit-mask: cover;
}

*{
  padding: 0;
  margin: 0;
  color: #222;
}
body{
  background: linear-gradient(to right, #aaf, lightgray);
  font-family: sans-serif;
}
p{
  font-size: 1.2em;
  margin-bottom: 4px;
}
input#user_avatar{
  height: 33px;
}
#menus-switch{
  display: inline-block;
  background: lightgray;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
#menus-switch div{
  @include svgmask("baseline-expand_more-24px.svg");
  background: linear-gradient(to right, green, lightcoral);
}

#menus-exit{
  display: inline-block;
  background: lightgray;
  width: 50px;
  height: 50px !important;
  border-radius: 25px !important;
}
#menus-exit div{
  @include svgmask("baseline-expand_less-24px.svg");
  background: linear-gradient(to right, red, purple);
}
#menus{
  top: -100%;
  transition: .2s ease-out;
  z-index: -1;
  background: rgba(#444, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
}
#menus div{
  margin-bottom: 10px;
  border-radius: 10px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
}
#menus div a{
  text-decoration: none;
}
.menuitem{
  background: lightgray;
  padding: 10px 0px;
}
.section{
  background: rgba(#fff, 0.75);
  text-align: center;
  padding: 5px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  margin-bottom: 5px;
}
.flash{
  padding: 5px;
  margin: 5px 0px;
  width: 100%;
  margin-left: -5px;
}
.success{
  border-top: 1px solid lightgreen;
  background: rgba(lightgreen, 0.5);
}
.danger{
  border-top: 1px solid lightcoral;
  background: rgba(lightcoral, 0.5);
}
.wrapper{
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
.form-row{
  margin-bottom: 10px;
}
.yes{
  @include svgmask("baseline-check-24px.svg");
  background-color: lightgreen;
}
.no{
  @include svgmask("baseline-close-24px.svg");
  background-color: lightcoral;
}
@media only screen and (max-width: 1024px){
  .section{
    width: calc(100% - 20px);
  }
}
