// Place all the styles related to the tracker controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input, select, .form_field{
  height: 30px;
  width: 300px;
  border: 0;
  border-radius: 15px;
  padding: 5px 15px;
  background: lightgray;
  color: black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
}
.check{
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: 10px
}
.tracker_title{
  border-bottom: 1px solid;
  display: block;
  padding: 5px;
  margin-bottom: 5px;
}
.tracker_title a, .tracker_title span{
  text-decoration: none;
  font-weight: bold;
  line-height: 20px;
  font-size: 20px;
}
.tracker{
  border: 1px solid;
  margin: 5px;
  padding: 0px 10px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.simple-box{
  width: 70px;
  height: 70px;
  background: lightgray;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 12px;
}
.options{
  display: inline-block;
  float: left;
  margin-top: 2.5px;
}
