// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.avatar{
  width: 100px;
  height: 100px;
  background: lightgray;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.avatar img{
  width: 100%;
}

.small{
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
