<!DOCTYPE html>
<html>
  <head>
    <title>ThingTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="/assets/jquery.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="section">
      <div id="menus-switch">
        <div></div>
      </div>
    </div>
    <div id="menus">
      <div class="section" style="background: none;">
        <div id="menus-exit"><div></div></div>
        <div class="menuitem"><%= link_to "Home", root_path %></div>
        <div class="menuitem"><%= link_to "Help", 'page/help' %></div>
        <div class="menuitem"><%= link_to "About", 'page/about' %></div>
        <% unless logged? %>
          <div class="menuitem"><%= link_to "Login", login_path %></div>
          <div class="menuitem"><%= link_to "Register", new_user_path %></div>
        <% end %>
        <div class="menuitem"><%= link_to "All users", users_path %></div>
        <% if logged? %>
          <div class="menuitem"><%= link_to "Profile", current_user %></div>
          <div class="menuitem"><%= link_to "Logout", logout_path, method: :delete %></div>
        <% end %>
      </div>
    </div>
    <div class="section">
      <% flash.each do |message_type, message| %>
        <div class="flash <%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
